.dashContent {
  text-align: center;
}

code {
  text-align: left;
  overflow: hidden;
}

pre {
  margin: 0px;
  padding: 15px;
}

.codeblock {
  max-width: 800px;
  margin: 0 auto;
  overflow: scroll;
  background-color: #eee;
}